
<div id="mapopup" class="dg-popup hidden">    
    <div id="dg-popup-modal">     
     <div class="modal-content">
       <div onclick='toggleModal("mapopup")' class="close">×</div>
       <div class="modal-text">
         <img src="https://gazenergie.ch/fileadmin/_processed_/b/e/csm_Login_c148e8b0a7.png" alt="" class="img" style="width: 100px" />
         <div class="modal-title">Sign In</div>
         <form action="action_page.php" method="post">
          <div class="container">
            <label for="uname"><b>Username</b></label>
            <input type="text" placeholder="Enter Username" name="uname" required>
        
            <label for="psw"><b>Password</b></label>
            <input type="password" placeholder="Enter Password" name="psw" required>
        
            <label>
              <input type="checkbox" checked="checked" name="remember"> Remember me
            </label>
          </div>
        
          <div class="container" style="background-color:#f1f1f1">
            <button type="button" class="modal-btn">Cancel</button>
            <span class="psw">Forgot <a href="#">password?</a></span>
          </div>
        </form>        
         <a href="https://chahinetest.myshopify.com/pages/faq" class="modal-btn">Login</a>
       </div>
     </div>
    </div>
   </div>
   {% schema %}
  {
    "name": "Pop-up",
    "settings": []
  }
{% endschema %}

{% stylesheet %}
.hidden {
  display: none;

}
.dg-popup #dg-popup-modal {
  position: fixed; 
  z-index: 9999999; 
  left: 0;
  top: 0;
  width: 100%; 
  height: 100%; 
  overflow: auto; 
  background-color: rgb(0,0,0); 
  background-color: rgba(0,0,0,0.7); 
}
.dg-popup .modal-content {
  background-color: #fefefe;
  text-align:center;
  margin: 5% auto; 
  padding: 15px;
  position:relative;
  heigth:100%;
  max-width: 800px;
  min-height:300px;
}
.dg-popup .img { max-width:100%; margin:0 auto 20px auto; }
.dg-popup .modal-title {
  text-transform:uppercase;
  font-size:24px;
  font-weight:bold;
  margin-bottom:20px;
}
.dg-popup .modal-text {
 padding:35px; 
}
.dg-popup .modal-btn {
  background:#786c56;
  color:#FFF;
  display:inline-block;
  padding:10px 15px;
  margin:10px auto 0 auto;
}
.dg-popup .modal-btn:hover,
.dg-popup .modal-btn:focus {
  opacity:0.9;
  color:#FFF;
}
.dg-popup .close {
  color: #aaa;
  float: right;
  font-size: 28px;
  padding:10px;
  font-weight: bold;
  position: absolute;
  top: -10px;
  right: 0px;
}
.dg-popup .close:hover,
.dg-popup .close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}
@media only screen and (max-width: 767px) {
  .dg-popup .modal-content  {
    margin:5px;
    
  }
}
{% endstylesheet %}

