<div class="dg-popup">    
    <div id="dg-popup-modal">     
     <div class="modal-content">
       <div class="close">×</div>
       <div class="modal-text">
         <img src="https://miro.medium.com/max/2952/1*dJtXMtfOdRjl5mtyAnlahw.png" alt="" class="img" />
         <div class="modal-title">Avertissement</div>
         <p>
           test pop-up
         </p>           
         <a href="url-lien" class="modal-btn">En savoir plus</a>
       </div>
     </div>
    </div>
   </div>